/* Start Variables */
/* End Variables */
/* Start Global Rules */
body {
  font-family: "Roboto", sans-serif;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

section.cyan {
  background-color: #eff7fa;
}

/* Start Components */
.main-btn {
  background-color: #ff3150;
  color: #ffba0f;
}
.main-btn:hover {
  background-color: transparent;
  color: #33d1cc;
}

.section-title p {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  font-size: 13px;
}
.section-title p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 50%;
  background-color: #33d1cc;
  transform: translateX(-50%);
}

/* End Components */
/* Start Header */
header {
  background-color: #19283f;
  min-width: 72px;
}
header .navbar-toggler {
  border-color: white;
  color: white;
}
header .navbar-toggler:focus {
  box-shadow: none;
  border-color: #33d1cc;
}
header .nav-link {
  color: white;
  text-transform: capitalize;
}
header .nav-link:hover, header .nav-link.active, header .nav-link:focus {
  color: #33d1cc !important;
}
header .search {
  border-left: 2px solid #33d1cc;
}
header .search svg {
  color: #33d1cc;
  cursor: pointer;
}

/* End Header */
/* Start Landing Section */
.landing {
  height: calc(100vh - 72px);
  background-color: #19283f;
}

/* End Landing Section */
/* Start Features Section */
.features .container .feature .number {
  position: relative;
}
.features .container .feature .number span {
  font-size: 250px;
  color: #eff7fa;
  text-align: center;
  line-height: 0.9;
}
.features .container .feature .number svg {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 70px;
  color: #33d1cc;
}
.features .container .feature h3 {
  color: #ffba0f;
}
.features .container .feature p {
  font-size: 13px;
  line-height: 1.8;
}

/* End Features Section */
/* Start Work Section */
.work .buttons .second-btn {
  background-color: transparent;
  color: black;
}
.work .buttons .second-btn:hover {
  background-color: #ff3150;
  color: #ffba0f;
}
.work .row > div {
  position: relative;
  overflow: hidden;
}
.work .row > div::before {
  content: attr(data-work);
  position: absolute;
  top: 0;
  left: -100%;
  background-color: #33d1cc;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
}
.work .row > div:hover::before {
  left: 0;
}

/* End Work Section */
/* Start About Section */
.about {
  margin-bottom: 0;
  padding-bottom: 0;
}
.about > p {
  max-width: 500px;
}
.about .row h2 {
  font-size: 20px;
}
.about .row p {
  font-size: 15px;
}

/* End About Section */
/* Start Team Section */
.team h2 {
  color: #ffba0f;
  font-size: 20px;
}
.team p {
  font-size: 15px;
}
.team .row div h3 {
  color: white;
  background-color: #33d1cc;
  font-size: 17px;
  letter-spacing: 1.5px;
}
.team .row div p {
  font-size: 13px;
}

/* End Team Section */
/* Start Project Section */
.project {
  background-color: #19283f;
}

/* End Project Section */
/* Start Newsletter Section */
.newsletter {
  background-color: #ffba0f;
}
.newsletter p {
  color: #19283f;
}
.newsletter input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  caret-color: #19283f;
  border-radius: 0;
}
.newsletter input::-moz-placeholder {
  color: white;
}
.newsletter input::placeholder {
  color: white;
}
.newsletter input:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  border-color: white;
}
.newsletter button {
  background-color: #19283f;
  color: #ffba0f;
}
.newsletter button:hover {
  color: #19283f;
}

/* End Newsletter Section *//*# sourceMappingURL=style.css.map */