/* Start Variables */

$main: #19283f;
$second: #33d1cc;
$red: #ff3150;
$yellow: #ffba0f;
$section: #eff7fa;
$duration: 0.4s;

/* End Variables */
/* Start Global Rules */
body {
	font-family: "Roboto", sans-serif;
}
section {
	padding-top: 60px;
	padding-bottom: 60px;
}
section.cyan {
	background-color: $section;
}
/* Start Components */
.main-btn {
	background-color: $red;
	color: $yellow;
	&:hover {
		background-color: transparent;
		color: $second;
	}
}
.section-title {
	p {
		position: relative;
		width: fit-content;
		text-transform: uppercase;
		font-size: 13px;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			height: 2px;
			width: 50%;
			background-color: $second;
			transform: translateX(-50%);
		}
	}
}
/* End Components */
/* Start Header */
header {
	background-color: $main;
	min-width: 72px;
	.navbar-toggler {
		border-color: white;
		color: white;
		&:focus {
			box-shadow: none;
			border-color: $second;
		}
	}
	.nav-link {
		color: white;
		text-transform: capitalize;
		&:hover,
		&.active,
		&:focus {
			color: $second !important;
		}
	}
	.search {
		border-left: 2px solid $second;
		svg {
			color: $second;
			cursor: pointer;
		}
	}
}
/* End Header */
/* Start Landing Section */
.landing {
	height: calc(100vh - 72px);
	background-color: $main;
}
/* End Landing Section */
/* Start Features Section */
.features {
	.container {
		.feature {
			.number {
				position: relative;
				span {
					font-size: 250px;
					color: $section;
					text-align: center;
					line-height: 0.9;
				}
				svg {
					position: absolute;
					bottom: 10px;
					left: 50%;
					transform: translateX(-50%);
					font-size: 70px;
					color: $second;
				}
			}
			h3 {
				color: $yellow;
			}
			p {
				font-size: 13px;
				line-height: 1.8;
			}
		}
	}
}
/* End Features Section */
/* Start Work Section */
.work {
	.buttons {
		.second-btn {
			background-color: transparent;
			color: black;
			&:hover {
				background-color: $red;
				color: $yellow;
			}
		}
	}
	.row > div {
		position: relative;
		overflow: hidden;
		&::before {
			content: attr(data-work);
			position: absolute;
			top: 0;
			left: -100%;
			background-color: $second;
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: $duration;
			color: white;
		}
		&:hover::before {
			left: 0;
		}
	}
}
/* End Work Section */
